<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Project Catch-Phrase!</title>

<!========================================
              CSS
=======================================-->
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

<!-- Bazinga! CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">

</head>
<body id="page-top" class="index">

<!========================================
              NAVIGATION
=======================================-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">Bazinga!</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li class="page-scroll"><a href="#play">Let's Play!</a></li>
                    <li class="page-scroll"><a href="#catch">catchphrases!</a></li>
                    <li class="page-scroll"><a href="#contact">sayhello!</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!========================================
              HEADER
=======================================-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&#9889;
                  <img class="img-responsive" src="/static/images/bazinga_final.png" alt="">
                </div>
            </div>
        </div>
    </header>

<!========================================
              BAZINGA! SECTION
=======================================-->
    <section id="play">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bazinga</h2>
                    <hr class="star-primary">
                </div>
                <div id="shuffle">
                <div class="card effect__click fill">
                  <div class="card__front one">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back two">
                    <span class="card__text" id="shuffle">WHAT DOES "AJAX" STAND FOR</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front two">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back one">
                    <span class="card__text" id="shuffle"><img src="static/images/bazinga_lose2.jpg" style="width:288px;height:292px;"></span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front one">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back two">
                    <span class="card__text" id="shuffle">WHAT IS "MONGOOSE" USED FOR</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front two">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back one">
                    <span class="card__text">DIFFERENCE BETWEEN AN "ARRAY" & "OBJECT"</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front two">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back one">
                    <span class="card__text">WRITE OUT A FOR LOOP "FUNCTION"</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front one">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back two">
                    <span class="card__text">NAME 5 JQUERY "METHODS"</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front two">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back one"
                    <span class="card__text">WHAT IS "JASMINE" USED FOR</span>
                  </div>
                </div>

                <div class="card effect__click">
                  <div class="card__front one">
                    <span class="card__text"><img src="static/images/bazinga_g2.png" style="width:288px;height:292px;"></span>
                  </div>
                  <div class="card__back two">
                    <span class="card__text">WHO IS THIS "ILLIAS TSANGARIS" GUY</span>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <center> <button type="submit" id ="reset" class="btn btn-default shuffle">SHUFFLE</button></center>
</section>

<!========================================
              CATCHPHRASE SECTION
=======================================-->
    <section class="success" id="catch">    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Catch<br>phrases</h2>
                    <hr>
                </div>
            <center>
                <form class="form-inline" id="new-word-form">
                    <input name="word" type="text" class="form-control" id="phrase-word-input" placeholder="Word">
                    <input name="definition" type="text" class="form-control" id="phrase-definition-input" placeholder="Definition" maxlength="60">
                    <button type="submit" class="btn btn-default">ADD</button>
                    <button type="button" class="btn btn-default" id="update-word" onclick="updateWord()" class="btn btn-default">UPDATE</button>
                </form><br>
                <ul class="list-group" id="phrase-ul"></ul>
            </div>
                <script type="text/template" id="words-template">
                    <li class='list-group-item'><%= word %>
                        <span class="label label-default"><%= definition %></span>
                        <button data-_id="<%= _id %>" onclick="deleteWord(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </li>
                </script><br>
            </center>
        </div>
    </section>

<!========================================
              CONTACT SECTION
=======================================-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>sayHello</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <center>
                    <div>
                        <p>Thanks for visiting, I'd love to hear what you think!    <br><br>
                        Feel free to message me <a href="mailto:someone@example.com?Subject=Hello" target="_top">here</a> or connect with me on <a href="https://www.linkedin.com/pub/peter-hoang/27/240/bb" target="_blank" class="link">LinkedIn</a>.</p><br>
                        
                        <p>And if you happen to be in San Francisco, let's grab some coffee and chat.<p><br>
                          <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Capital%20One%20360%20Caf%C3%A9%2C%20Post%20Street%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyCZNuoQaTW7CMIHZ1IGyiagfW-evTMUN2w"></iframe><br><br>
                          
                          <a href="https://github.com/Gnaoh" target="blank">
                            <img src="/static/images/github.png" alt="Home">
                          <a href="https://www.facebook.com/KyleHoang" target="blank">
                            <img src="/static/images/facebook.png" alt="Home">
                          <a href="https://twitter.com/PeterHoang_" target="blank">
                            <img src="/static/images/twitter.png" alt="Home"></a>
                    </div>
                </center>
        </div>
    </section>

<!========================================
              JS SCRIPTS
=======================================-->
<!-- jQuery Script-->
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Script -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>  

<!-- Plugin Scripts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>  
    <script src="/vendor/jquery/dist/classie.js"></script>
    <script src="/vendor/jquery/dist/cbpAnimatedHeader.js"></script> 

<!-- Bazinga! Script -->
    <script src="/static/js/app.js"></script>

<!-- Underscore Script -->
    <script src="/vendor/underscore/underscore-min.js"></script>

</body>
</html>